<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 4 years of experience as a Salesforce and JS developer, and have worked
            at both small startups and large organizations. While I'm a proficient full-stack
            developer, my expertise is in building Lightning Components, LWC, Vue.js, APEX development.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a individual contributor role where I can take on on challanges and responsibilites, and gain experience with
           Salesforce and JS development.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Worked on Node.js project where I worked on below things : 
            <ul>
               <li> Making api request to Client's given API and downloading data</li>
            <li>Setting up communication with postgresql and node app using node-postgres</li>
            <li>Performed queries for creating tables in postgresql for storing data using PostgreSQL client for node.js</li>
            <li>Seperating data to store in specified tables</li>
            <li>Performed insert/update queries to postgresql using PostgreSQL client for node.js</li>
            <li>Sending email on failure for downloading data or inserting/updating data.</li>
        </ul>
    			</li>
          <li>
            Salesforce-Vue.js : 
            -Setting up communication with salesforce and vue app using axios to run app from local/server
            -Setting up communication with salesforce and vue app using lightning-container to run app in salesforce lex 
            -UI to show custom object list on the page
            -Multiab UI for different custom objects
            -UI to search custom object from the vue app and showing on UI with sortable flexible table
            -Creating PDF from the selected records on UI
            -Sending PDF to the salesforce and attaching to the parent object and uploading to dropbox using apec code.
            -Used vuex for state management pattern. It serves as a centralized store for all the components in an application, with rules ensuring that the state can only be mutated in a predictable fashion.
            -Used BootstrapVue for design
          <li>
            Freshdesk and Zendesk apps (Node.js) : 
            -Setting up communication with Client's API and sending tickets to API when ticket query comes from customer or customer replies to ticket with query for suggestions.
            -API then adds suggestion to the ticket as private comment.
            -Calling FD/ZD ticket apis to perform actions such as replying to customer query if agent accepts AI suggestion shown in the App section , 
            -if agent clicks copy & edit button then adding suggested response to editor.
            -if agent rejects suggestion then removing suggestion from app screen.
            -Also sending permofrmed events to Clinet's API to keep track of the accepted/rejected suggestions.
    			<li>
            Salseforce Lightning Component with ckeditor : 
            - Created a lightnign component for sending emails to users.
            - Created custom component search component with keyboard navigation and slds pills to search contacts in salesfroce using email field and adding them to cc, bcc, to field of Email Composer.
            - Implemented VF page and Lightning component communication for ckeditor.
            - Created custom plugins for ckeditor and implemented them into ckeditor to insert salesforce templates, documents and attachments.
    			</li>
    			<li>
            Salesforce Marketplace App : 
            - Created a Salesfroce lightning app that works with clients API to provide suggestions to Case queries on salesforce.
            - Wrote APEX/Trigger code that can send Case record(insert/update) details to client's API.
            - Wrote REST service that can consume response sent by client's API and add them as Case comment so that it can be used to display in Lightning Component.
            - Created lightning components to show suggestions from Client's API with multiple action buttons and also implemeted their functionality.
            - Imlemented auth flow for Client's API integration.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
