<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			  </li>
			  <li>
				  <b>Drawing</b>. I like to draw anime character and Human/Animal potraits.
			  </li>
			  <li>
				  <b>Mountaineering</b>. Atleast once a year i try to go hiking/trekking because i love mountains.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Worked on creating lightning components that can call third party API and get Data in salesforce and displaying it onto lighting component and making user able to edit those data and send back to the API. 
          Implemented lightning data table with actions and Modal pop up to show specific record data directly from the API without storing that data into Salesforce.
    		</li>
  			<li>
          Created Node application for getting data from AWS and after arranging it properly and sending it to PostgreSQL.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Learning musical instrument ukulele (since 2020)
  			</li>
  			<li>
  			   Actively learning react.js and python.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
